name: chocolatine
on:
  push:
    branches-ignore:
      - 'ga-ignore-'
  pull_request:
    branches-ignore:
        - 'ga-ignore-'
env:
  MIRROR_URL: "git@github.com:ErouanW/chocolatine_copy.git"
  EXECUTABLES : "."
jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: |
          unnecessary_files=($(find . ( -name '*.o' -o -name '*.a' -o \
          -name '*.so' -o -name '*.gcno' -o -name '*.gcda' -o -name '##*' \
          -o -name '*~' -o -iname "pain_au_chocolat" -o -pathtmp/* )))
          for i in ${unnecessary_files[@]}; do
            echo "::error file=$i,line=1,endLine=1,title=unnecessary file::$i"
          done
          if [[ -n $unnecessary_files ]]
          then
            exit 1
          else
            echo all files ok
          fi
  job2:
    needs: check_repository_cleanliness
    runs-on: ubuntu-latest
    container:
      image: epitechcontent/epitest-docker:latest
    steps:
      - uses: actions/checkout@v3
      - id: run_tests
        run: make tests_run
        timeout-minutes: 2
  job3:
    needs: job1
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url:
            ${{ env.MIRROR_URL }}
          ssh_private_key:
            ${{ secrets.GIT_SSH_PRIVATE_KEY }}
